.app {
  display: flex;
  justify-content: center;
}

.tab-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;

}

.tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tab {
  text-align: center;
  text-transform: capitalize;
  flex: 1;
  cursor: pointer;
}

.tab.active {
  text-decoration: underline;
}

.items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.item .name {
  font-weight: bold;
}

.item .description {
  font-style: italic;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
